# Data captures and binaries
/data/
*.pcap
*.pcapng
*.cap

# Logs
logs/
*.log

# VSCode/Cursor
.vscode/
.history/
.local/

# OS
.DS_Store
Thumbs.db

# PowerShell transcripts
*.clixml
PowerShell_transcript*

temporary/
Videos/